name: ci
on:
  pull_request:
  merge_group:
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  # renovate: datasource=github-releases depName=FiloSottile/age
  age-version: 1.3.1
  # renovate: datasource=github-releases depName=getsops/sops
  sops-version: 3.11.0

jobs:
  fmt-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3

      - name: Install shfmt
        run: sudo apt-get install -y shfmt

      - run: just fmt-check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install shellcheck and yamllint
        run: sudo apt-get install -y shellcheck yamllint

      - name: Setup just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3

      - name: Setup Bats and bats libs
        uses: bats-core/bats-action@77d6fb60505b4d0d1d73e48bd035b55074bbfb43 # 4.0.0
        with:
          # renovate: datasource=github-releases depName=bats-core/bats-core
          bats-version: 1.13.0
          # renovate: datasource=github-releases depName=bats-core/bats-support
          support-version: 0.3.0
          # renovate: datasource=github-releases depName=bats-core/bats-assert
          assert-version: 2.2.4
          detik-install: false
          # renovate: datasource=github-releases depName=bats-core/bats-file
          file-version: 0.4.0

      - name: Setup age
        uses: alessiodionisi/setup-age-action@82b9aea163ade7fe23441552a514cf666b214077 # v1.3.0
        with:
          version: ${{ env.age-version }}

      - name: Setup sops
        uses: nhedger/setup-sops@187c90dbb4e28c3225263886266a5b92baa7e5a1 # v2
        with:
          version: ${{ env.sops-version }}

      # Validate testlib
      - run: just check-testlib
      - run: just test-testlib

      # Validate action code
      - run: just check
      - run: just unittest
      - run: just inttest

  e2e:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup age
        uses: alessiodionisi/setup-age-action@82b9aea163ade7fe23441552a514cf666b214077 # v1.3.0
        with:
          version: ${{ env.age-version }}

      - name: Setup sops
        uses: nhedger/setup-sops@187c90dbb4e28c3225263886266a5b92baa7e5a1 # v2
        with:
          version: ${{ env.sops-version }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6
        id: gpg-import
        with:
          gpg_private_key: ${{ secrets.IT_E2E_SOPS_GPG_KEY }}

      # End-to-end tests
      - name: 'test: run command with encrypted environment file and age secret key'
        if: always()
        uses: ./
        env:
          SOPS_AGE_KEY: ${{ secrets.IT_E2E_SOPS_AGE_KEY }}
        with:
          env_file: test/assets/inttest.env
          run: bash -c '[[ \"\$SECRET_KEY\" == \"YOURSECRETKEYGOESHERE\" && \"\$SECRET_HASH\" == \"something-with-a-#-hash\" ]]'

      - name: 'test: run command with encrypted environment file and age key file'
        if: always()
        uses: ./
        env:
          SOPS_AGE_KEY_FILE: test/assets/inttest-key.age
        with:
          env_file: test/assets/inttest.env
          run: bash -c '[[ \"\$SECRET_KEY\" == \"YOURSECRETKEYGOESHERE\" && \"\$SECRET_HASH\" == \"something-with-a-#-hash\" ]]'

      - name: 'test: run command with encrypted environment file and gpg key'
        if: always()
        uses: ./
        env:
          SOPS_GPG_FP: ${{ steps.gpg-import.outputs.fingerprint }}
        with:
          env_file: test/assets/inttest.env
          run: bash -c '[[ \"\$SECRET_KEY\" == \"YOURSECRETKEYGOESHERE\" && \"\$SECRET_HASH\" == \"something-with-a-#-hash\" ]]'

