name: release
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@f3969c04a4ec81d7a9aa4010d84ae6a7602f86a7 # v4
        id: release-please
        with:
          release-type: simple
          # Needed to CI checks to execute en Release Please PRs
          # See: https://github.com/google-github-actions/release-please-action#github-credentials
          token: ${{ secrets.RELEASE_PLEASE_GITHUB_TOKEN }}

      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4
        if: ${{ steps.release-please.outputs.release_created }}

      - name: Tag major and minor versions
        if: ${{ steps.release-please.outputs.release_created }}
        run: |
          # Configure git
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git remote add gh-token "https://${{ secrets.GITHUB_TOKEN }}@github.com/LNSD/sops-exec-action.git"

          # Delete the tag, if it already exists
          git tag -d v${{ steps.release-please.outputs.major }} || true
          git tag -d v${{ steps.release-please.outputs.major }}.${{ steps.release-please.outputs.minor }} || true
          git push origin :v${{ steps.release-please.outputs.major }} || true
          git push origin :v${{ steps.release-please.outputs.major }}.${{ steps.release-please.outputs.minor }} || true

          # Add the new tag
          git tag -a v${{ steps.release-please.outputs.major }} -m "Release v${{ steps.release-please.outputs.major }}"
          git tag -a v${{ steps.release-please.outputs.major }}.${{ steps.release-please.outputs.minor }} -m "Release v${{ steps.release-please.outputs.major }}.${{ steps.release-please.outputs.minor }}"
          git push origin v${{ steps.release-please.outputs.major }}
          git push origin v${{ steps.release-please.outputs.major }}.${{ steps.release-please.outputs.minor }}
